.break {
    clear: both;
    padding-top: 20px;
}

.admin-panel-tip {

    font-size: x-small;
    padding: 5px;
}

.admin-panel-custom-logo {

    padding-top: 20px;
    padding-bottom: 20px;
}

.admin-panel-custom-logo img {

    width: 150px;
    height: auto;
}

.admin-panel-instructions {

    padding-bottom: 20px;

}

.admin-panel-credits {

    padding-bottom: 20px;

}